body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:  0;
    background: rgb(23, 55, 116);
    font-family:sans-serif;
    
}
.weather{
    background: rgb(62, 96, 197);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    color: white;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 40px;
    background:turquoise;
    letter-spacing: 0.1em;
    cursor: pointer;
}
button:hover{
    background: rgb(40, 143, 133);
}
input.searchbar{
    border:none;
    outline: none;
    border-bottom: white solid 1px;
    width: 400px;
    background-color: transparent;
    color: white;
    font-size: 25px;
}
input.searchbar:scope{
    background-color: transparent;
}
.search input::placeholder
{
    color: white;
    font-size: 25px;
    opacity: 1;
}
h2.city{
    font-size: 40px;
    font-weight:lighter;
}
h1.temp{
    font-size: 80px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.5em;
}

.description{
    text-transform:capitalize;
    margin-left: 5px;
}

.flex{
    display:flex;
    align-items: center;
    font-size: 30px;
}

.humidity{
    font-size: 30px;
}
.wind{
    font-size: 30px;
}
.weather.loading{
    visibility: hidden;
    position: relative;
}
.weather.loading:after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
}